@{
    ViewData["Title"] = "Home Page";
}
<div>
    <div class="">
        <form id="produtoForm" novalidate class="needs-validation">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="text" name="id" class="form-control" id="InputId" hidden value="">
            <div class="mb-3">
                <label for="InputNome" class="form-label">Nome</label>
                <input type="text" name="nome" class="form-control" id="InputNome" required>
            </div>
            <div class="mb-3">
                <label for="InputDescricao" class="form-label">Descrição</label>
                <input type="text" name="descricao" class="form-control" id="InputDescricao" required>
            </div>
            <div style="display:flex">
                <div class="mb-3" style="margin-right:50px">
                    <select class="form-select form-control" style="max-width:400px;min-width:300px;" aria-label="Default select example" id="categoriaSelect" name="categoriaID">
                        @foreach (var categoria in (List<CategoriaProduto>)TempData["Categorias"])
                        {
                            <option value="@categoria.Id"> @categoria.Nome</option>
                        }
                    </select>
                </div>

                <div class="mb-3 style="margin-left:50px">
                    <input class="form-check-input" name="PerecivelString" type="checkbox" id="checkPerecivel">
                    <label class="form-check-label" for="checkPerecivel">
                        Perecível?
                    </label>
                </div>
                <div class="mb-3" style="margin-left:50px">
                    <input class="form-check-input" name="AtivoString" type="checkbox" id="checkAtivo" checked>
                    <label class="form-check-label" for="checkAtivo">
                        Ativo
                    </label>
                </div>
                <div class="mb-3" style="margin-left:50px">
                    <button type="button" onclick="cadastrar()" class="btn btn-primary">Cadastrar</button>
                </div>
            </div>
        </form>
    </div>
    <br />
    <div id="PartialViewContainerList" class="text-center">
        @Html.Partial("_List")
    </div>

    
</div>

<script>
        function cadastrar() {
            if (ValidateForm()) {
                var data = $("#produtoForm").serialize();
                console.log(data);
                $.ajax({
                    type: 'POST',
                    url: '/produto/set',
                    contentType: 'application/x-www-form-urlencoded; charset=UTF-8', // when we use .serialize() this generates the data in query string format. this needs the default contentType (default content type is: contentType: 'application/x-www-form-urlencoded; charset=UTF-8') so it is optional, you can remove it
                    data: data,
                    success: function (result) {
                        alert('Registro Salvo');
                        console.log(result);
                        LimpaForm();
                        ReloadTable();
                    },
                    error: function (result) {
                        alert('Erro ao Salvar');
                        console.log(result);
                    }
                })
            }
        }
        var retornoAt = "";
        function Atualizar(id) {
            $.ajax({
                type: "GET",
                data: { Id: id },
                url: "/produto/get",
                success: function (result) {
                    console.log(result);
                    retornoAt = result;
                    AtualizaForm(result)
                    window.scrollTo(0, 0);
                },
                error: function (result) {
                    alert('Falha ao preparar formulário');
                    console.log(result);
                }
            });

        }
        function Excluir(id) {
            let bodyContent = JSON.stringify({
                id
            });
            console.log(bodyContent);

            $.ajax({
                url: '/produto/delete',
                data: bodyContent,
                type: 'POST',
                contentType: 'application/json; charset=utf-8',

                success: function (result) {
                    alert('Registro deletado');
                    console.log(result);
                    document.getElementById("idTr" + id).remove()
                },
                error: function () {
                    alert('Falha ao excluir registro');
                    console.log(result);
                }
            });

        }

        function AtualizaForm(data) {
            const obj = JSON.parse(data);

            document.getElementById("InputId").value = obj["Id"];
            document.getElementById("InputNome").value = obj["Nome"];
            document.getElementById("InputDescricao").value = obj["Descricao"];
            const $select = document.querySelector('#categoriaSelect');
            $select.value = obj["CategoriaID"];

            if (obj["Perecivel"] === true) {
                document.getElementById("checkPerecivel").checked = true;
            } else {
                document.getElementById("checkPerecivel").checked = false;
            }
            if (obj["Ativo"] === true) {
                document.getElementById("checkAtivo").checked = true;
            } else {
                document.getElementById("checkAtivo").checked = false;
            }
        }

        function LimpaForm() {
            document.getElementById("InputId").value = 0;
            document.getElementById("InputNome").value = '';
            document.getElementById("InputDescricao").value = '';
            const $select = document.querySelector('#categoriaSelect');
            $select.selectedIndex = 0;
            document.getElementById("checkPerecivel").checked = false;
            document.getElementById("checkAtivo").checked = true;
        }

        function ValidateForm() {
            var nome = document.getElementById("InputNome").value;
            var descricao = document.getElementById("InputDescricao").value;

            if (nome == "") {
                alert("Nome deve ser preenchido");
                return false;
            }
            if (descricao == "") {
                alert("Descrição deve ser preenchida");
                return false;
            }

            return true;
        }
        function ReloadTable(){
              $("#PartialViewContainerList").load('@Url.Action("_List","Produto")')

        }
</script>
